{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": ["import", "react", "jsx-a11y"]
}
